$primary: #039be5;
$secondary: #37474f;
$light: #b2ebf2;
$light-gray: #d3e1e8;
$dark: #212b30;
$warning: #ffab40;
$success: #00c853;
$danger: #ff1744;
$white: #fff;
$black: #000;

/* Main */

#site {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 10vh 90vh;
	grid-template-areas:
		'header'
		'content';
}

#main-header {
	grid-area: header;
	background: $warning;
	display: grid;
	height: 10vh;
	width: 100%;
	grid-template-columns: 20% 60% 20%;
	grid-template-areas: 'logo title buttons';
	justify-items: center;
	align-items: center;

	#logo {
		grid-area: logo;
		height: 100%;
		width: 100%;
		display: grid;
		justify-items: center;
		align-items: center;

		svg {
			height: 4rem;
			width: 4rem;
		}
	}

	#header-title {
		grid-area: title;
		font-weight: bold;
		text-shadow: 1px 1px $primary;
	}
	#header-buttons {
		grid-area: buttons;
		height: 100%;
		width: 100%;
		padding: 25px;
		display: grid;
		grid-template-columns: 1fr 1fr;

		#login-button,
		#register-button,
		#profile-button,
		#logout-button {
			justify-self: center;
			align-self: center;
			font-weight: bold;

			span {
				font-size: 1.2rem;
			}
		}

		#login-button {
			background-color: $primary;

			a {
				color: $white;
			}
		}
		#register-button {
			background-color: $secondary;
			color: $light;
		}
		#profile-button {
			color: $black;
			background: $light;
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 0.2rem;
			justify-items: center;
			align-items: center;

			svg {
				height: 1.4rem;
				width: 1.4rem;
			}
		}
		#logout-button {
			background-color: $danger;

			a {
				font-weight: bold;
				color: $white;
			}
		}
	}
}

#content {
	grid-area: content;
	background-color: $light;
}

/* Authentication Forms */
#login,
#register {
	height: 100%;
	width: 100%;
	display: grid;
	justify-items: center;
	align-items: center;

	#login-form,
	#register-form {
		height: 60%;
		width: 50%;
		padding: 2rem 4rem 0rem 4rem;
		background: $light-gray;
		display: grid;
		grid-template-rows: repeat(5, 1fr);
		align-items: center;

		h3 {
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid $dark;
			color: $dark;
			padding-bottom: 0.5rem;
		}

		div > label {
			font-size: 1.6rem;
		}

		input {
			font-size: 1.6rem;
		}

		a {
			text-align: center;
			font-size: 1.2rem;
		}

		button {
			color: $white;
			background-color: $primary;
			height: 35%;
		}
	}
}

/* App Content */
#nav {
	grid-area: nav;
	background: $secondary;
}
#nav > nav {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas:
		'controls'
		'form'
		'.';
}
#form-controls {
	grid-area: controls;
	display: grid;
	justify-items: center;
	align-items: center;
}
#form-section {
	grid-area: form;
	display: grid;
	justify-items: center;
	align-items: center;
}
#form-container {
	display: grid;
	height: 300px;
	width: 200px;
	justify-content: center;
	align-content: center;
	background: var(--blue-grey-light);
	border-radius: 2%;
}
#income-form,
#expense-form {
	height: 300px;
	width: 200px;
	padding: 5px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 1fr);
	justify-items: center;
	align-items: center;
}
#income-form > h3,
#expense-form > h3 {
	font-size: 24px;
	text-decoration: underline;
	font-weight: bold;
}
#income-form > label,
#expense-form > label {
	font-weight: bold;
}
#income-form > button,
#expense-form > button {
	font-weight: bold;
	color: white;
	background: $primary;
}
#ledger {
	grid-area: ledger;
	background: $light;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 30% 70%;
	grid-template-areas:
		'balances balances'
		'income expenses';
	justify-items: center;
}
#balance-display {
	grid-area: balances;
	height: 100%;
	width: 100%;
}
#income-table-container {
	grid-area: income;
	height: 100%;
	width: 100%;
	background: inherit;
	padding: 20px;
}
#expense-table-container {
	grid-area: expenses;
	height: 100%;
	width: 100%;
	background: inherit;
	padding: 20px;
}
#income-table,
#expense-table {
	background: white;
}

/* Table Classes*/

.dark-thead {
	background: $secondary;
	color: white;
}
.dark-thead > tr > th {
	color: white;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

/* Font Classes */
.gain {
	color: $success;
}
.loss {
	color: $danger;
}
