$primary: #039be5;
$secondary: #37474f;
$light: #b2ebf2;
$light-gray: #d3e1e8;
$dark: #212b30;
$warning: #ffab40;
$success: #00c853;
$danger: #ff1744;
$white: #fff;
$black: #000;

/* Main */

#site {
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: 10vh 90vh;
	grid-template-areas:
		'header'
		'content';
}

#main-header {
	grid-area: header;
	background: $warning;
	display: grid;
	height: 10vh;
	width: 100%;
	grid-template-columns: 20% 60% 20%;
	grid-template-areas: 'logo title buttons';
	justify-items: center;
	align-items: center;

	#logo {
		grid-area: logo;
		height: 100%;
		width: 100%;
		display: grid;
		justify-items: center;
		align-items: center;

		svg {
			height: 4rem;
			width: 4rem;
		}
	}

	#header-title {
		grid-area: title;
		font-weight: bold;
		text-shadow: 1px 1px $primary;
	}
	#header-buttons {
		grid-area: buttons;
		height: 100%;
		width: 100%;
		padding: 25px;
		display: grid;
		grid-template-columns: 1fr 1fr;

		#login-button,
		#register-button,
		#profile-button,
		#logout-button {
			justify-self: center;
			align-self: center;
			font-weight: bold;

			span {
				font-size: 1.2rem;
			}
		}

		#login-button {
			background-color: $primary;

			a {
				color: $white;
			}
		}
		#register-button {
			background-color: $secondary;
			color: $light;
		}
		#profile-button {
			color: $black;
			background: $light;
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 0.2rem;
			justify-items: center;
			align-items: center;

			svg {
				height: 1.4rem;
				width: 1.4rem;
			}
		}
		#logout-button {
			background-color: $danger;

			a {
				font-weight: bold;
				color: $white;
			}
		}
	}
}

/* Authentication Forms */
#login,
#register {
	height: 100%;
	width: 100%;
	display: grid;
	justify-items: center;
	align-items: center;

	#login-form,
	#register-form {
		height: 60%;
		width: 50%;
		padding: 2rem 4rem 0rem 4rem;
		background: $light-gray;
		display: grid;
		grid-template-rows: repeat(5, 1fr);
		align-items: center;

		h3 {
			text-align: center;
			font-weight: bold;
			border-bottom: 2px solid $dark;
			color: $dark;
			padding-bottom: 0.5rem;
		}

		div > label {
			font-size: 1.6rem;
		}

		input {
			font-size: 1.6rem;
		}

		a {
			text-align: center;
			font-size: 1.2rem;
		}

		button {
			color: $white;
			background-color: $primary;
			height: 35%;
		}
	}
}

/* App Content */

#content {
	height: 90vh;
	width: 100vw;
	padding: 0;
	grid-area: content;
	background-color: $light;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-areas: 'nav content';

	#nav {
		grid-area: nav;
		background: $secondary;

		nav {
			height: 100%;
			width: 100%;
			display: flex;
			flex-direction: column;
			row-gap: 2rem;

			div {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				align-content: center;

				& > div {
					justify-self: end;
				}

				svg {
					color: $light;
				}

				a {
					justify-self: start;
					font-size: 1.4rem;
					color: $light;
				}
			}
		}
	}

	#dashboard {
		grid-area: content;
		background: $white;
		display: grid;
		grid-template-rows: 20% 80%;
		grid-template-areas:
			'balances'
			'charts';

		#dashboard-balances {
			grid-area: balances;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-items: center;
			align-items: center;
			border-bottom: 2px solid $dark;

			& > div {
				background: $dark;
				color: $white;
				height: 60%;
				width: 75%;

				& > div {
					display: grid;
					grid-template-rows: repeat(2, 1fr);
					justify-items: center;
					align-content: center;
				}
			}
		}
		#dashboard-charts {
			grid-area: charts;
		}
	}
}

#balance-display {
	grid-area: balances;
	height: 100%;
	width: 100%;
}
#income-table-container {
	grid-area: income;
	height: 100%;
	width: 100%;
	background: inherit;
	padding: 20px;
}
#expense-table-container {
	grid-area: expenses;
	height: 100%;
	width: 100%;
	background: inherit;
	padding: 20px;
}
#income-table,
#expense-table {
	background: white;
}

/* Table Classes*/

.dark-thead {
	background: $secondary;
	color: white;
}
.dark-thead > tr > th {
	color: white;
	font-weight: bold;
	text-decoration: underline;
	text-align: center;
}

/* Font Classes */
.gain {
	color: $success;
}
.loss {
	color: $danger;
}
